.main {
  height: 150px;
  width: 100%;
  background-color: #d9d9d9;
  display: flex;
}

.header {
  height: 300px;
  width: 100%;
  background-color: #aeaeae;
  margin-top: 40px;
}

.header2 {
  background-color: #9c9c9c;
  margin-top: 100px;
  height: 300px;
  width: 100%;
}

.header3 {
  background-color: #d9d9d9;
  height: 400px;
  width: 100%;
  margin-top: 100px;
}

.header4 {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  background-color: #b3b3b3;
}

.forimages {
  height: 150px;
  width: 150px;
}

.forimages2 {
  height: 300px;
  width: 270px;
  margin-top: 0px;
  margin-left: 85%;
  position: absolute;
}
.forimages3 {
  height: 300px;
  width: 500px;
  margin-top: 0px;
  margin-left: 0px;
  position: absolute;
}

.forimages4 {
  height: 400px;
  width: 635px;
  margin-top: 0px;
  margin-left: 66%;
  position: absolute;
}

.forimages5 {
  height: 500px;
  width: 978px;
  margin-top: 0px;
  margin-left: 48%;
  position: absolute;
}

.forbuttons {
  border-radius: 37.5px;
  width: 250px;
  height: 75px;
  margin-left: 50px;
  margin-top: 40px;
  background-color: #464646;
  color: white;
  font-size: 20px;
  border: none;
}

.forbuttons2 {
  background-color: #88BDFA; 
  color: black;
  margin-top: 50px; 
  margin-left: 40%;
  width: 300px; 
  height: 100px; 
  border: none; 
  border-radius: 35px;
  font-size: 25px;
}

.fortexts {
  font-size: 30px;
  font-family: Arial;
  color: black;
  margin-left: 30%;
  margin-top: 5px;
  position: relative;
}

.fortexts2 {
  font-size: 30px;
  font-family: Arial;
  color: black;
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 16%;
  position: relative;
}

.fortexts3 {
  font-size: 30px;
  font-family: Arial;
  color: black;
  margin-left: 28% ;
  margin-top: 30px;
  position: relative;
}

.fortexts4 {
  font-size: 30px;
  font-family: Arial;
  color: black;
  margin-left: 10px ;
  margin-top: 30px;
  margin-right: 35%;
  position: relative;
}

.fortexts5 {
  font-size: 30px;
  font-family: Arial;
  color: black;
  margin-left: 0px ;
  margin-top: 30px;
  margin-right: 52%;
  position: relative;
}

.forhref{
  color:black ;
}